:root {
    --negro: #000000;
    --blanco: #F0E5EE;
    --morado: #986F93;
    --family: 'League Spartan', sans-serif;
    --familybold: 'Odibee Sans', cursive;
}

html {
    box-sizing: inherit;
    font-size: 62.5%; 
}

*, *:before, *:after {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

body {
    font-family: var(--family);
}

h1, h2 {
    font-family: var(--familybold);
}

nav {
    background: var(--negro);
    height: 8rem;
    width: 100%;
}

label.logo {
    color: var(--blanco);
    font-size: 3.5rem;
    line-height: 8rem;
    padding: 0 10rem;
    font-weight: bold;
}

nav ul {
    float: right;
    margin-right: 2rem;
}

nav ul li {
    display: inline-block;
    line-height: 8rem;
    margin: 0 0.5rem;
}

nav ul li a {
    color: var(--blanco);
    font-size: 1.7rem;
    text-transform: uppercase;
    padding: 0.7rem 1.3rem;
    border-radius: 0.3rem;
}

a.active, nav ul li a:hover {
    background: var(--morado);
    transition: 0.5s;
}

.checkbtn {
    font-size: 3rem;
    float: right;
    line-height: 8rem;
    margin-right: 4rem;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}

@media (max-width: 952px) {
    label.logo {
        font-size: 3rem;
        padding-left: 5rem; 
    }
    nav ul li a {
        font-size: 1.6rem;

    }
}

@media (max-width: 400px){
    label.logo {
        font-size: 2.5rem;
        padding-right: 1rem;
    }
}

@media (max-width: 858px) {
    .checkbtn {
        display: block;
    }
    nav ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: var(--morado);
        top: 8rem;
        left: -100%;
        transition: all 0.5s;
        text-align: center;
    }
    nav ul li {
        display: block;
        margin: 5rem 0;
        line-height: 3rem;
    }
    nav ul li a {
        font-size: 2rem;
    }
    a:hover,a.active {
        background: none;
        color: var(--negro);
    }
    #check:checked ~ ul {
        left: 0;

    }
}